main{
  flex-wrap: wrap;
  align-items: center;
}
.chart {
  width: 600px;
  max-width: 95%;
  height: 400px;
  margin: 10px;
  box-shadow: 0 0 5px var(--negro);
  border-radius: 5px;
  position: relative;
}

#myChart, #myPieChart {
  width: 99% !important;
  height: 99% !important;
  margin: auto;
}
.fa-print{
    position: absolute;
    top: 5px;
    right: 5px;
}
