main {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h2 {
  width: 95%;
  text-align: center;
  color: var(--azul);
  margin-top: 10px;
}

/*Formulario para crear usuarios*/
.modalCreateUser {
  background-color: var(--fondo);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 0.2s ease-in-out;
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalCreateUser.show {
  opacity: 1;
}

.panelCreateUser {
  width: 400px;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  border-radius: 5px;
}

.formCreateUser {
  width: 99%;
  height: 99%;
  margin: 10px auto;
  background-color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--azul);

  h2 {
    border-radius: 5px 5px 0 0;
    margin: auto;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: var(--azul);
    color: var(--blanco);
  }

  .formLogCampo {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px auto;

    label {
      color: var(--azul);
      font-weight: bold;
    }

    .campo {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      position: relative;

      i {
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background-color: var(--azul);
        color: var(--blanco);
        border-radius: 5px 0 0 5px;
      }

      .btnTxt {
        width: 100%;
        height: 40px;
        border-radius: 0 5px 5px 0;
        border: 1px solid var(--azul);
        font-size: 16px;
        color: var(--azul);
        font-weight: bold;
      }

      .btnTxt:focus {
        box-shadow: 0 0 5px var(--azul);
        outline: 1px solid var(--azul);
      }
    }
  }
}

.fa-id-badge,
.fa-user-pen,
.fa-user-minus {
  color: var(--blanco);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.fa-id-badge:hover,
.fa-user-pen:hover,
.fa-user-minus:hover {
  background-color: var(--blanco);
}

.fa-id-badge{
  background-color: var(--azul);
}
.fa-user-pen {
  background-color: var(--naranja);
}

.fa-user-pen:hover {
  color: var(--naranja);
  box-shadow: 0 0 5px var(--naranja);
}

.fa-user-minus {
  background-color: var(--rojo);
}

.fa-user-minus:hover {
  color: var(--rojo);
  box-shadow: 0 0 5px var(--rojo);
}

.fa-id-badge:hover{
  cursor: pointer;
  color: var(--azul);
  box-shadow: 0 0 5px var(--azul);
  
}