main {
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: column;
  h2 {
    color: var(--azul);
    margin: 5px auto;
  }
  .colorGris {
    background-color: var(--gris);
  }
  .raya {
    width: 95%;
    box-shadow: 0 3px 3px 0 var(--gris);
  }

  .panelDatos {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h4 {
      color: var(--azul);
      font-style: oblique;
      margin: 10px;
    }
    h4:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .logoMides {
      max-width: 95%;
      width: 500px;
    }
    label {
      color: var(--azul);
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      h4 {
        font-style: oblique;
        margin: 0 10px;
      }
      h4:hover{
        text-decoration: none;
        pointer-events: none;
      }
    }
  }
  .panelImgUser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
      width: 100%;
      margin: 10px;
      color: var(--azul);
      font-style: oblique;
      text-align: center;
    }
    .Photo {
      width: 200px;
      max-width: 95%;
      border-radius: 50%;
      border: 3px solid var(--azul);
      margin: 10px;
    }
  }
}

/*Formulario para crear usuarios*/
.modalPass,
.modalData {
  background-color: var(--fondo);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 0.2s ease-in-out;
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalPass.show,
.modalData.show {
  opacity: 1;
}
.panelPass,
.panelData {
  width: 400px;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  border-radius: 5px;
  background-color: var(--blanco);
  h2 {
    border-radius: 5px 5px 0 0;
    margin: auto;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: var(--azul);
    color: var(--blanco);
  }
}
.panelData--size {
  width: 800px;
  max-width: 100%;
  .formLogCampo {
    width: 350px;
  }
}

.formPass,
.formData {
  width: 99%;
  height: 99%;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  flex-wrap: wrap;
}

/*Formulario para Editar pefil de usuarios*/

.formLogCampo {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5px auto;

  label {
    color: var(--azul);
    font-weight: bold;
  }

  .campo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    position: relative;

    .fa-location-dot {
      height: 60px;
      line-height: 60px;
      width: 60px;
    }

    i {
      height: 40px;
      line-height: 40px;
      width: 40px;
      text-align: center;
      background-color: var(--azul);
      color: var(--blanco);
      border-radius: 5px 0 0 5px;
    }

    .fa-eye,
    .fa-eye-slash {
      position: absolute;
      right: 0;
      transition: 0.2s ease-in-out;
      border-radius: 0 5px 5px 0;
    }

    .fa-eye:hover,
    .fa-eye-slash:hover {
      cursor: pointer;
      box-shadow: 0 0 5px var(--azul);
      background-color: var(--blanco);
      color: var(--azul);
    }

    .btnTxt {
      width: 100%;
      height: 40px;
      display: flex;
      padding: 5px;
      align-items: center;
      border-radius: 0 5px 5px 0;
      border: 1px solid var(--azul);
      font-size: 16px;
      color: var(--azul);
      font-weight: bold;
    }

    .btnTxt:focus {
      box-shadow: 0 0 5px var(--azul);
      outline: 1px solid var(--azul);
    }

    .textArea {
      resize: none;
      height: 60px;
    }
  }
}

/*editar imagen*/
/*editar imagen*/
.btnUserPhoto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--azul);
  color: var(--blanco);
  border: none;
  cursor: pointer;
  margin: 5px auto;
  transition: 0.2s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    border: 2px solid var(--azul);
  }

  i {
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px auto;
  }
}

.btnUserPhoto:hover {
  background-color: var(--blanco);
  color: var(--azul);
  box-shadow: 0 0 5px var(--azul);

  i {
    color: var(--azul);
    background-color: var(--blanco);
  }
}

footer{
  flex-direction: column;
  color: var(--azul);
  h4{
    width: 95%;
    margin: 5px 0;
  }
  .doc{
    width: 94%;
    margin: 0 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    section{
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      margin: 5px 10px;
      a{
        text-decoration: none;
        font-size: 14px;
        color: var(--azul);
        margin: 5px 0;
        font-style: oblique;
      }
      a:hover{
        text-decoration: underline;
        color: var(--negro);
      }
    }
  }
  h6{
    width: 95%;
  }
}
