main {
  flex-direction: column;
  width:1000px;
  max-width: 95%;
  margin: 10px auto;
  border-radius: 5px;
  justify-content: flex-start;
}
.datos {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 99%;
  flex-direction: column;
  margin: 10px auto;
}
.campos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 5px 0;

  label{
    width: 150px;
  }
  img {
    width: 200px;
  }
  .logoMides {
    border-radius: 50px;
    width: 250px;
    background-color: var(--azul);
    border-radius: 5px;
  }
}
.dobleSaltoLinea{
    margin-top: 20px;
}

.no-print{
    position: absolute;
    right: 10px;
    top: 10px;
}

.fotoArticulo{
  position: absolute;
  top: 20%;
  right: 10%;
  width: 200px;
  border-radius: 5px;
  object-fit: cover; 
}

h2{
  width: 95%;
  text-align: center;
}