main {
  width: 800px;
  max-width: 95%;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px auto;
  flex-direction: column;
  h2{
    color: var(--azul);
  }
}
.dataTables_wrapper {
  background-color: var(--azul);
  max-width: 95%;
  margin: 5px auto;
  overflow: auto;
  border-radius: 5px;
  font-weight: bold;
  .dt-buttons {
    float: inline-end;
    margin: 5px;
    .dt-button {
      color: var(--blanco);
      background-color: var(--verde);
      border-radius: 5px;
      border: none;
      height: 40px;
      padding: 0 10px;
    }
    .dt-button:hover {
      color: var(--verde);
      background-color: var(--blanco);
      cursor: pointer;
      box-shadow: 0 0 5px var(--verde);
    }
  }

  .dataTables_length {
    float: left;
    margin: 5px;
    select {
      width: 40px;
      height: 40px;
      color: blue;
      border-radius: 5px;
      cursor: pointer;
    }
    label {
      color: var(--blanco);
    }
  }
  .dataTables_filter {
    margin: 5px;
  }
  input {
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: var(--azul);
  }
  label {
    color: var(--blanco);
  }
  .dataTable thead th {
    color: var(--blanco);
    text-align: center;
  }
  .dataTable tbody tr {
    color: var(--azul);
    text-align: center;
  }
  .dataTable tbody .even {
    background-color: var(--even);
  }

  .dataTables_empty {
    color: var(--rojo);
  }
  .dataTables_paginate span a.current {
    border-radius: 5px;
  }
}
.dataTables_info {
  color: var(--blanco) !important;
  margin: 5px;
}

/*Formulario para crear usuarios*/
.modalCreateBodega {
  background-color: var(--fondo);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.2s ease-in-out;
  scale: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panelCreateBodega {
  width: 400px;
  max-width: 95%;
  height: 95%;
  overflow: auto;
  position: relative;
}
.formCreateBodega {
  width: 100%;
  background-color: var(--blanco);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--azul);
  flex-wrap: wrap;
  h2 {
    border-radius: 5px 5px 0 0;
    margin: auto;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: var(--azul);
    color: var(--blanco);
  }
  .formLogCampo {
    width: 350px;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    label {
      color: var(--azul);
      font-weight: bold;
    }
    .campo {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      position: relative;
      .fa-file-signature {
        height: 60px;
        line-height: 60px;
        width: 60px;
      }
      i {
        height: 40px;
        line-height: 40px;
        width: 40px;
        text-align: center;
        background-color: var(--azul);
        color: var(--blanco);
        border-radius: 5px 0 0 5px;
      }
      .btnTxt {
        width: 100%;
        height: 40px;
        border-radius: 0 5px 5px 0;
        border: 1px solid var(--azul);
        font-size: 16px;
        color: var(--azul);
        font-weight: bold;
      }
      .btnTxt:focus {
        box-shadow: 0 0 5px var(--azul);
        outline: 1px solid var(--azul);
      }
      .textArea {
        resize: none;
        height: 60px;
      }
    }
  }
}
