header .fa-bars,
header .fa-xmark {
  display: none;
}

.logoApp {
  width: 200px;
  margin: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 5px;

    li {
      margin: 2px;
      background-color: var(--azul);
      border-radius: 5px;
      transition: 0.2s ease-in-out;

      a {
        color: var(--blanco);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        text-decoration: none;
      }
    }
  }
}

.active {
  pointer-events: none;
  background-color: var(--blanco);
  border: 2px solid var(--azul);

  a {
    color: var(--azul);
  }
}

nav ul li:hover {
  box-shadow: 0 0 5px var(--azul);
  background-color: var(--blanco);

  a {
    color: var(--azul);
  }
}

.formUserLogOut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
  min-width: 120px;

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    width: 100%;

    h5 {
      margin: 5px;
    }
  }
}

.btnUser {
  color: var(--blanco);
  background-color: var(--azul);
}

.btnUser:hover {
  color: var(--azul);
  background-color: var(--blanco);
  box-shadow: 0 0 5px var(--azul);
}

.btnLogOut,
.btnSett {
  position: absolute;
}

.btnLogOut {
  top: 0;
  scale: 0;
  color: var(--blanco);
  background-color: var(--rojo);
}

.btnLogOut:hover {
  color: var(--rojo);
  background-color: var(--blanco);
  box-shadow: 0 0 5px var(--rojo);
}

@media screen and (max-width: 1000px) {
  nav {
    z-index: 2;
    background-color: var(--fondo);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: 0.2s ease-in-out;
    overflow: auto;

    span {
      background-color: var(--blanco);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .fa-xmark {
        display: block;
      }
    }

    ul {
      margin: 0;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      padding: 0;
      width: 300px;
      max-width: 95%;
      background-color: var(--blanco);
      border-radius: 0 5px 5px 0;

      li {
        width: 99%;

        a {
          width: 100%;
        }
      }
    }
  }

  header .fa-bars,
  header .fa-xmark {
    display: block;
    font-size: 25px;
    border-radius: 50%;
    color: var(--blanco);
    background-color: var(--azul);
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: 0.2s ease-in-out;
    margin: 5px;
  }

  header .fa-bars:hover,
  header .fa-xmark:hover {
    box-shadow: 0 0 5px var(--azul);
    color: var(--azul);
    background-color: var(--blanco);
    cursor: pointer;
  }

  .subMenu {
    width: 150px;
    top: 0;
    left: 100%;
    display: flex;
    li {
      width: 98%;
    }
  }

}




/*editar imagen*/
.formImgCampo {
  width: 95%;
  margin: 5px auto;

  .btnEditPhoto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    color: var(--blanco);
    border: none;
    cursor: pointer;
    margin: 5px auto;
    transition: 0.2s ease-in-out;
    pointer-events: none;

    img {
      width: 200px;
      height: 200px;
      max-width: 95%;
      max-height: 95%;
      background-size: cover;
      border-radius: 50%;
    }

    i {
      font-size: 50px;
    }
  }

  .btnEditPhoto:hover {
    background-color: var(--blanco);
    color: var(--azul);
    box-shadow: 0 0 5px var(--azul);
  }
}



.panelMenuInventory {
  position: relative;
  text-align: center;
}

.subMenu {
  position: absolute;
  transition: 0.2s ease-in-out;
  display: none;
  border-radius: 5px;
}

.panelMenuInventory:hover .subMenu {
  display: block;

}

.menuInventory a,
.subMenu a {
  display: block;
}