* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --even: #ebe7e7;
  --fondo: #00000066;
  --azul: #004b99;
  --grisClaro: #c3c3c3;
  --gris: #808080;
  --blanco: #ffffff;
  --negro: #000000;
  --rojo: #e20000;
  --verde: #0e7a00;
  --naranja: #ffa500;
  --choco: brown;
  --amarillo: #ffff00;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}
header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--blanco);
  box-shadow: 0 0 10px var(--azul);
}
footer h6 {
  width: 95%;
  margin: 5px auto;
  text-align: center;
  color: var(--azul);
}
main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex: 1;
}
/*Imagen de Fondo*/
.fondo {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  z-index: -2;
}
.ruta {
  display: none;
}

@media screen and (max-width: 1000px) {
  .ruta {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    border: 1px solid var(--gris);
    h4 {
      color: var(--azul);
      margin: 5px;
    }
  }
}

/*Botones del switalet2*/
.btn-confirm {
  background-color: var(--azul);
  color: var(--blanco);
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
.btn-confirm:focus {
  box-shadow: 0 0 5px var(--azul);
  outline: none;
}
.btn-confirm:hover {
  background-color: var(--blanco);
  color: var(--azul);
  box-shadow: 0 0 5px var(--azul);
}
.btn-cancel {
  background-color: var(--gris);
  color: var(--blanco);
  transition: 0.2s ease-in-out;
  font-weight: bold;
}
.btn-cancel:hover {
  background-color: var(--blanco);
  color: var(--gris);
  box-shadow: 0 0 5px var(--gris);
}
/*******************************************/
.fa-floppy-disk {
  font-size: 12px;
  margin: 0 2px 0 0;
  padding: 0;
}

.fa-asterisk {
  color: var(--rojo);
  margin-left: 5px;
  font-size: 10px;
}
/*
Tabla
*/
.dataTables_wrapper {
  background-color: var(--azul);
  max-width: 95%;
  margin: 10px auto;
  overflow: auto;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 0 15px var(--fondo);
  .dt-buttons {
    float: inline-end;
    margin: 5px;

    .dt-button {
      color: var(--blanco);
      background-color: var(--verde);
      border-radius: 5px;
      border: none;
      height: 40px;
      padding: 0 10px;
    }

    .dt-button:hover {
      color: var(--verde);
      background-color: var(--blanco);
      cursor: pointer;
      box-shadow: 0 0 5px var(--verde);
    }
  }

  .dataTables_length {
    float: left;
    margin: 5px;

    select {
      width: 40px;
      height: 40px;
      color: blue;
      border-radius: 5px;
      cursor: pointer;
    }

    label {
      color: var(--blanco);
    }
  }

  .dataTables_filter {
    margin: 5px;
  }

  input {
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: var(--azul);
  }

  label {
    color: var(--blanco);
  }

  .dataTable thead th {
    color: var(--blanco);
    text-align: center;
  }

  .dataTable tbody tr {
    color: var(--azul);
    text-align: center;
  }

  .dataTable tbody .even {
    background-color: var(--even);
  }

  .dataTables_empty {
    color: var(--rojo)
  }

  .paging_simple_numbers{
    color: var(--blanco);
    a.paginate_button {
      border-radius: 5px;
      background-color: var(--blanco);
      color: var(--azul);
      padding: 5px 10px;
      margin: 5px;
    }
    a.paginate_button:hover{
      background-color: var(--azul);
      box-shadow: 0 0 5px var(--blanco);
      color: var(--blanco);
    }
  }
  .dataTables_info {
    color: var(--blanco) !important;
    margin: 5px;
  }
}
/*
*Botones para las columna de editar y eliminar
*/
.accion {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: 0.2s ease-in-out;
  border: none;
  color: var(--blanco);
  text-overflow: ellipsis;
  overflow: hidden; /* Oculta el desbordamiento */
  white-space: nowrap; 
}
.accion:hover{
  background-color: var(--blanco);
  scale: 0.99;
  cursor: pointer;
}
.accionCrear{
  background-color: var(--verde);
}
.accionCrear:hover{
  color: var(--verde);
  box-shadow: 0 0 5px var(--verde);
}
.accionEliminar{
  background-color: var(--rojo);
}
.accionEliminar:hover{
  color: var(--rojo);
  box-shadow: 0 0 5px var(--rojo);
}
.accionEditar{
  background-color: var(--naranja);
}
.accionEditar:hover{
  color: var(--naranja);
  box-shadow: 0 0 5px var(--naranja);
}
.accionSolicitar{
  background-color: var(--negro);
}
.accionSolicitar:hover{
  color: var(--negro);
  box-shadow: 0 0 5px var(--negro);
}



/*
*Botones para guardar, crear, enviar, aprobar, eliminara, rechazar, cancelar, y solicitar
*/
.btnSubmitPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
}
.btnSubmit {
  height: 40px;
  padding: 0 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  margin: 10px 0;
}
.btnSubmit:hover {
  cursor: pointer;
}
.btnRojo{
  color: var(--blanco);
  background-color: var(--rojo);
}
.btnRojo:hover {
  color: var(--rojo);
  background-color: var(--blanco);
  box-shadow: 0 0 5px var(--rojo);
  font-weight: bold;
}
.btnVerde {
  color: var(--blanco);
  background-color: var(--verde);
}
.btnVerde:hover {
  color: var(--verde);
  background-color: var(--blanco);
  box-shadow: 0 0 5px var(--verde);
  font-weight: bold;
}

.btnNegro {
  color: var(--blanco);
  background-color: var(--negro);
  line-height: 40px;
}
.btnNegro:hover {
  color: var(--negro);
  background-color: var(--blanco);
  box-shadow: 0 0 5px var(--negro);
  font-weight: bold;
}

.btnCancel{
  line-height: 40px;
  background-color: var(--gris);
  color: var(--blanco);
}
.btnCancel:hover {
  color: var(--gris);
  background-color: var(--blanco);
  box-shadow: 0 0 5px var(--gris);
  font-weight: bold;
}

